@{
    ViewData["Title"] = "Home Page";
}

<style>
    p{
        font-size: 1em;
        color: mediumspringgreen;
    }

</style>

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Vamos a crear!!!</a>.</p>
</div>
