
@*
    
*@

<style>
    .topMenu
    {
        background-color:red;
        line-height:20px;

    }
</style>

<div class="topMenu">

    <img src="c:\users\galin\source\repos\webapplication1\publico\imagenes\robot.jpg" style="max-height:60px;" />
    

</div>
